<footer>
    <div class="layout">
        <div class="footer">
            <div class="footer__block"><span>© 2018 «LOREMIPSUM.NET» Все права защищены.</span></div>
            <div class="footer__block">
                <div class="footer__item-pay">
                    <svg>
                        <use xlink:href="#qivi"></use>
                    </svg>
                    <span>QIWI wallet</span>
                </div>
                <div class="footer__item-pay">
                    <svg>
                        <use xlink:href="#ym"></use>
                    </svg>
                    <span>Yandex Money</span>
                </div>
                <div class="footer__item-pay">
                    <svg>
                        <use xlink:href="#wm"></use>
                    </svg>
                    <span>Web Money</span>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__item-soc">
                    <svg>
                        <use xlink:href="#letter"></use>
                    </svg>
                    <a href="#">info@ipsum228.com</a>
                </div>
                <div class="footer__item-soc">
                    <svg>
                        <use xlink:href="#vk"></use>
                    </svg>
                    <a href="#">Мы вконтакте</a>
                </div>
            </div>
        </div>
    </div>
</footer>