<header>
    <div class="layout">
        <div class="header">
            <a href="/" class="header__logo">
                LoremIpsum.<span class="color--blue-1">Net</span>
            </a>
            <nav class="header__nav">
                <a class="header__nav-item header__nav-item--active" href="#">Бизнес</a>
                <a class="header__nav-item" href="#">О нас</a>
                <a class="header__nav-item" href="#">Цены</a>
                <a class="header__nav-item" href="#">Оформить заказ</a>
            </nav>
            <button class="header__burger-btn" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__burger-menu">
                <nav class="header__nav">
                    <a class="header__nav-item header__nav-item--active" href="#">Бизнес</a>
                    <a class="header__nav-item" href="#">О нас</a>
                    <a class="header__nav-item" href="#">Цены</a>
                    <a class="header__nav-item" href="#">Оформить заказ</a>
                </nav>
            </div>
        </div>
    </div>
</header>