<section class="section section--order">
    <div class="layout">
        <div class="order-block">
            <h1 class="order-block__title">
                <span class="color--blue-basic">Lorem ipsum </span>dolor sit amet
                consectetur <span class="color--blue-basic">adipiscing</span>
            </h1>
            <div class="order-block__description">
                <span class="order-block__description-title">At vero eos et accusamus et iusto odio dignissimos
                    ducimus!</span>
                <ul class="order-block__description-list">
                    <li class="order-block__description-list-item">Totam rem aperiam eaque ipsa</li>
                    <li class="order-block__description-list-item">Sit voluptatem accusantium doloremque laudantium</li>
                    <li class="order-block__description-list-item">Sed ut perspiciatis, unde omnis iste natus error</li>
                </ul>
                <div class="order-block__buttons">
                    <button class="button"><span>заказать</span></button>
                    <button class="button button--white"><span>подробнее</span></button>
                </div>
            </div>
        </div>
    </div>
</section>