<section class="section section--placing">
    <div class="layout">
        <div class="placing-block">
            <h2 class="placing-block__title">
                Оформление <span class="color--blue-basic">Заказа</span>
            </h2>
            <span>Перед заполнением формы ознакомьтесь с нашей схемой работы!</span>
            <div class="placing-block__steps">
                <div class="placing-block__step-item">
                    <div class="placing-block__step-icon">
                        <svg>
                            <use xlink:href="#search"></use>
                        </svg>
                    </div>
                    <span class="placing-block__step-description">Lorem ipsum dolor
                        sit amet</span>
                </div>
                <div class="placing-block__step-item">
                    <div class="placing-block__step-icon">
                        <svg>
                            <use xlink:href="#percent"></use>
                        </svg>
                    </div>
                    <span class="placing-block__step-description">Сonsecteturadipiscing elit</span>
                </div>
                <div class="placing-block__step-item">
                    <div class="placing-block__step-icon">
                        <svg>
                            <use xlink:href="#list"></use>
                        </svg>
                    </div>
                    <span class="placing-block__step-description">Sed do eiusmod tempor</span>
                </div>
                <div class="placing-block__step-item">
                    <div class="placing-block__step-icon">
                        <svg>
                            <use xlink:href="#letter"></use>
                        </svg>
                    </div>
                    <span class="placing-block__step-description">Esse cillum dolore
                        eu fugiat</span>
                </div>
                <div class="placing-block__step-item">
                    <div class="placing-block__step-icon">
                        <svg>
                            <use xlink:href="#money"></use>
                        </svg>
                    </div>
                    <span class="placing-block__step-description">Excepteur sint occaecat cupidatat non proident</span>
                </div>
            </div>
            <form action="" class="placing-block__form">
                <div class="placing-block__form-top">
                    <div class="select ">
                        <a href="#" class="slct">Выберите тип системы </a>
                        <ul class="drop">
                            <li>Sed ut perspiciatis</li>
                            <li>Nemo enim ipsam</li>
                            <li>Et harum quidem</li>
                            <li>Temporibus autem</li>
                            <li>Itaque earum rerum</li>
                            <li>Sed ut perspiciatis</li>
                            <li>Nemo enim ipsam</li>
                            <li>Et harum quidem</li>
                            <li>Temporibus autem</li>
                            <li>Itaque earum rerum</li>
                        </ul>
                        <input name='select' type="hidden" id="select" />
                        <svg class="arrow">
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </div>
                    <input type="text" name='e-mail' class="input" placeholder="Ваш e-mail">
                    <input type="text" name='name' class="input" placeholder="Ваше имя">
                </div>
                <div class="placing-block__form-bottom">
                    <div class="input__range">
                        <div class="input__range-top">
                            <span class="input__range-title">Sed ut perspiciatis, unde omnis iste natus</span>
                            <span class="input__range-value"></span>
                        </div>
                        <input type="range" name='range'>
                    </div>
                    <label class="input__file">
                        <input type="file" name='file' class="input input--file" title=" ">
                        <span>Прикрепить файл</span>
                    </label>
                </div>
                <button type="submit" class="button button--big"><span>Отправить</span></button>
            </form>
        </div>
    </div>
</section>